@font-face {
    font-family: montserrat;
    src: url(assets/fonts/Montserrat.ttf);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

html {
    box-sizing: border-box;

}

body {
    font-family: montserrat;
    font-style: normal;
    font-size: 15;
    background: #191919;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    background: #191919;
}

/* Шапка */

header {
    padding: 15 15;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    z-index: 99999;
}


header .search {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    padding: 0 15;


}

header .search input {
    color: #434343;
    font-weight: 600;
    width: 1000px;
    outline: none;
    border: 0px;
    background: transparent;
}

header .search img {
    height: 20;
}

header .logIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Main */
main {
    padding: 25;
}

/* Слайдер */

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 15;
    height: 15;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

.swiper-pagination-bullet-active {
    background: #ffffff;
}